//-index.jade
doctype
html
head
	link(rel="stylesheet", href="css/main.css")

body
	div.wrapper
		div
			button#loadData Load data 
		div
			ul
				//- create li element for each shop and make the shop name it's ID
				each shop in shops
					li(id=shop)= shop
	
	script(type="text/javascript", src="js/loader.js")
	
		